<%- include ('partials/header.ejs') %> 
<%- include ('partials/main_nav.ejs') %>

<style>
    @import url('https://fonts.googleapis.com/css?family=Amarante');

h1{
    font-family: 'Amarante', Tahoma, sans-serif;
  }


</style>


<!DOCTYPE html>
<html lang="en" style="height: 100%">
  <head>
    <title><%= title %></title>

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="" />

    <link href="/Content/style.css" rel="stylesheet" />

    <!-- 
            don't change order of imports
        -->
    <script src="../Scripts/src/globals.js"></script>
    <script src="../Scripts/src/utils.js"></script>
    <script src="../Scripts/src/Entry.js"></script>
    <script src="../Scripts/src/ParticipantList.js"></script>
    <script src="../Scripts/src/Bracket.js"></script>
    <script src="../Scripts/src/controller.js"></script>
    <script src="../Scripts/src/event_listeners.js"></script>
  </head>

  <!-- background and page padding -->
  <body id="wrapper-main" class="bg-white">
    <div id="wrapper-header" class="bg-light-gray rounded verdana-gray header" >
      <h1>Tournament Bracket Maker</h1>
    </div>

    <div id="wrapper-content">
      <div id="content">
        <div id="content-left-pane" class="rounded bg-light-gray">
          <div id="left-pane-header" , class="verdana-gray">
            <div>Participants:</div>
          </div>

          <div id="left-pane-content">
            <div id="e-list"></div>
          </div>
        </div>

        <div id="content-main">
          <div id="form" class="bg-light-gray rounded">
            <div id="add-entry">
              <div id="add-entry-prompt" class="verdana-gray">
                <span>Enter Participants:</span>
                <input id="e-input" type="text" />
              </div>
              <div id="add-entry-btn-wrapper">
                <div id="add-entry-btn" class="form-btn" onclick="addEntry()">
                  Add Entry
                </div>
              </div>
            </div>

            <div id="make-bracket-btn-wrapper">
              <div
                id="make-bracket-btn"
                class="form-btn"
                onclick="makeBracket()"
              >
                Make Bracket
              </div>
              <br />
              <div id="make-bracket-btn" class="form-btn">Save Bracket</div>
            </div>
          </div>

          <div id="bracket" class="verdana-gray">
            <!-- bracket goes here. Will fill up once button is clicked -->
            
          </div>
          <br><br><br>
        </div>
      </div>
    </div>

    <div id="wrapper-footer" class="bg-light-gray rounded">
      <div id="footer" class="verdana-gray">
        <div id="link-wrapper"></div>
      </div>
    </div>
  </body>
</html>

<%- include ('partials/bottom_nav.ejs') %> 
<%- include ('partials/footer.ejs') %>
